.custom-input {
  position: relative;
  width: 100%;

  &__field {
    width: 100%;
    padding: 16px 15px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid $color-periwinkle;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: $color-manatee;
    }

    &:focus-visible, &:focus {
      border-color: $color-royal-blue-1;
    }

    @include vp-768 {
      padding: 19px;
    }
  }

  &__label {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 12px;
    line-height: 14px;
    transform: translate(0%, -50%);
    color: $color-mischka;
    cursor: pointer;
    transition: color 0.3s ease;

    @include vp-768 {
      right: 20px;
    }
  }

  &__reset-btn {
    display: none;
    position: absolute;
    right: 58px;
    top: 50%;
    padding: 0;
    transform: translate(0%, -50%);
    background-color: transparent;
    border: none;
    color: $color-mischka;
    cursor: pointer;

    @include vp-768 {
      right: 65px;
    }
  }

  &__reset-btn.active {
    display: block;
  }

  &__error {
    display: none;
    margin: 4px 0 0 0;
    font-size: 12px;
    line-height: 14px;
    color: $color-sunset-orange;
  }

  &--error {
    .custom-input__field {
      border-color: $color-sunset-orange;
      background-color: $color-snow;
    }

    .custom-input__error {
      display: block;
    }
  }
}
