.pagination {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  counter-reset: counter;

  &__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: inherit;
    $root: &;

    &--counter {
      border-radius: 8px;
      counter-increment: counter;
      transition: background-color 0.3s ease;

      &::before {
        content: counter(counter);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover,
      &:focus-visible {
        outline: none;
        background-color: $color-link-water;
      }
    }


  }

  &__item {
    position: relative;
    border-radius: 8px;
    outline: none;

    &--active {
      font-size: 14px;
      line-height: 18px;
      background-color: $color-black-russian;
      color: $color-white;

      & a {
        font-weight: 700;
      }

      &:hover a,
      &:focus-visible a {
        background-color: $color-black-russian;
      }
    }

    &--disabled {
      background-color: $color-white-smoke;
      color: $color-dark-gray;
      outline: none;
    }

    &--disabled a {
      cursor: not-allowed;
      outline: none;
    }
  }
}