.pagination {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  counter-reset: counter;

  &__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: inherit;
  }

  &__item {
    position: relative;
    border-radius: 8px;
    outline: none;

    &--counter a {
      border-radius: 8px;
      counter-increment: counter;
      transition: background-color 0.3s ease;

      &::before {
        content: counter(counter);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover,
      &:focus-visible {
        outline: none;
        background-color: $color-link-water;
      }
    }

    &--active {
      background-color: $color-black-russian;
      color: $color-white;

      a {
        font-weight: 700;

        &:hover,
        &:focus-visible {
          background-color: $color-black-russian;
        }
      }
    }

    &--disabled {
      background-color: $color-white-smoke;
      color: $color-dark-gray;
      outline: none;

      &:hover a,
      &:focus-visible a {
        outline: none;
      }
    }

    &--disabled a {
      outline: none;
      cursor: not-allowed;
    }

    &--arrow-right,
    &--arrow-left {
      border-radius: 8px;
      outline: none;
    }

    &--arrow-right:not(&--disabled) a,
    &--arrow-left:not(&--disabled) a {
      transition: background-color 0.3s ease;

      &:hover,
      &:focus-visible {
        background-color: $color-link-water;
        border-radius: 8px;
        outline: none;
      }
    }
  }
}