.search-results {
  &__title {
    position: relative;
    margin: 0;
    padding: 28px 0 27px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.024em;

    @include vp-768 {
      font-size: 32px;
      line-height: 36px;
    }

    @include vp-1024 {
      font-size: 40px;
      line-height: 44px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 0 0 -15px;
      height: 1px;
      width: 100vw;
      background-color: $color-hawkes-blue;

      @include vp-768 {
        bottom: -3px;
      }
    }
  }

  &__wrapper {
    padding: 28px 0 58px;

    @include vp-768 {
      padding: 35px 0 62px;
    }
  }

  &__form {
    margin: 0 0 60px 0;
  }

  &__results {
    padding: 0;
    margin: 0 0 62px 0;
    list-style: none;
    $root: &;

    &-item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &-title {
      font-weight: 700;
      margin: 0 0 12px 0;
      font-size: 18px;
      line-height: 22px;
    }

    &-text {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }

    &-pp {
      @include vp-768 {
        display: none;
      }
    }
  }

  &__technology {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    width: fit-content;

    $root: &;

    &-text {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
    }
  }
}